body{
    background-image: linear-gradient(to right bottom, rgb(83,67,170), rgb(236,79,180));
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    width: 40rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    height: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

#main-tittle{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

#form{
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    column-gap: 0.5rem;
}

#task{
    flex: 1 0 auto;
    border-radius: 0.2rem;
    border: 1px solid darkgray;
}

#add{
    width: 20%;
    background-color: rgb(40,167,69);
    color: white;
    border-style: none;
    border-radius: 0.2rem;
    height: 2rem;
}

button:hover{
    opacity: 95%;
    cursor: pointer;
}

ul{
    flex: 1 0 auto;
}

li{
    flex: 1 0 auto;
    border-bottom: 2px solid darkgray;
}

#remove{
    width: 15%;
    background-color: rgb(220,53,69);
    border-style: none;
    border-radius: 0.2rem;
    height: 1.8rem;
}